<div class="default-form mx-auto max-w-md">
  <h2 class="default-form-title text-center">Mot de passe oublié</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, class: "space-y-6") do |f| %>

    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="default-form-grid center">
      <div>
        <%= f.label :email, "Adresse e-mail", class: "default-form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "default-form-input" %>
      </div>
    </div>

    <%= f.submit "Envoyer les instructions de réinitialisation", class: "default-form-submit" %>

  <% end %>

  <div class="mt-4 text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>
