<div class="default-form">
  <h2 class="default-form-title">
    <%= education.new_record? ? "Créer une formation" : "Modifier la formation" %>
  </h2>

  <%= form_with(model: education, class: "space-y-6") do |f| %>

    <div class="default-form-grid">
      <div>
        <%= f.label :school, "Ecole", class: "default-form-label" %>
        <%= f.text_field :school, class: "default-form-input" %>
      </div>

      <div>
        <%= f.label :degree, "Niveau d'etude", class: "default-form-label" %>
        <%= f.text_field :degree, class: "default-form-input" %>
      </div>

      <div>
        <%= f.label :start_date, "Date de début", class: "default-form-label" %>
        <%= f.date_field :start_date, class: "default-form-input" %>
      </div>

      <div>
        <%= f.label :end_date, "Date de fin", class: "default-form-label" %>
        <%= f.date_field :end_date, class: "default-form-input" %>
      </div>
    </div>

    <div>
      <%= f.label :description, "Nom du diplôme", class: "default-form-label" %>
      <%= f.text_area :description, rows: 3, class: "default-form-input editor" %>
    </div>

    <%= f.submit "Enregistrer", class: "default-form-submit" %>
  <% end %>
</div>
